h1{
    color: coral;

}
h3{
    color: coral;

}
h2{
    color: coral;
}
a:hover{
    color: coral;
}

.body{
    color: aqua;
}
body {
 
  background-size: cover;
  background-color: antiquewhite;
}
.note14{
    border-style:ridge;
    border-color:rgb(160, 123, 74);
    border-width: 5px;
    width:fit-content;
}
.pad7{
     border-style:inset;
    border-color:rgb(160, 123, 74);
    border-width: 5px;
    width:fit-content;
}


    